<div class="container mt-5">
  <div class="col-sm-4 mx-auto mt-3">
      <div class="card-body">
        <h4 class="card-title mb-4 text-center">
          ログイン
        </h4>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="form-group bmd-form-group">
            <%= f.label :メールアドレス, class:"bmd-label-floating" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border-dark" %>
          </div>
          <div class="form-group bmd-form-group">
            <%= f.label :パスワード, class:"bmd-label-floating" %>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control border-dark" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field mb-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.submit "ログイン", class:"btn btn-outline-dark btn-block btn-raised px-5" %>
          </div>
        <% end %>
        <div class="row justify-content-center">
          <h5>会員登録がお済みでない方</h5>
        </div>
        <div class="row justify-content-center">
          <p><%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください。</p>
        </div>
      </div>
  </div>
</div>