<div class="container mt-5">
  <!--検索機能-->
  <%= render 'searchs/form' %>
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-deck" style="width: 18rem;">
        <div class="card">
            <div class="card-img-top"><%= attachment_image_tag post, :image, fallback: "no_image.jpg", class: "card-img-top" %></div>
          <div class="card-body">
            <h5 class="card-title"><%=link_to post.title,post_path(post),class: "linkname",data: {"turbolinks" => false} %></h5>
            <p class="card-text">投稿者：<%=link_to post.user.nickname,user_path(post.user),class: "linkname",data: {"turbolinks" => false} %></p>

            <!--星評価-->
            <div class="card-text" id="star-rate-<%= post.id %>">評価：</div>
            <script>
            $('#star-rate-<%= post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= post.rate %>,
             });
            </script>
            
            <!--いいね機能-->
            <div id="likes_btn_<%= post.id %>">
              <p class="card-text"><%= render "likes/like", { post: post} %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>