<!DOCTYPE html>
<html>
  <head>
    <title>ChillShare</title>
    <script src="https://kit.fontawesome.com/051148a001.js" crossorigin="anonymous"></script>
    
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
　　<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
　　<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
　　
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!--ロゴ画像を表示-->
          <%= link_to image_tag("logo.png", size: "100x100"), root_path, class: "image mt-2" %>
          <!--　ハンバーガーメニュー　-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- ナビゲーションメニュー -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <!--　会員がログインしている時　-->
              <% if user_signed_in? %>
                <li>
                  <%= link_to "マイページ", user_path(current_user), class:" nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿する", new_post_path, class:"nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "みんなの投稿を見る", posts_path, class:"nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
            <!--　会員がログインしていない時　-->
              <% else %>
              　<li>
                  <%= link_to "アカウント作成", new_user_registration_path, class:"nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path , class:"nav-link btn btn-md btn-outline-secondary mr-3" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
       <!--メイン部分-->
    <main>
      <%= yield %>
    </main>
    <!--フッター部分-->
    <footer class="footer mt-5">
      <nav class="navbar">
        <span class="navbar-text m-auto">
          <% if user_signed_in? %>
            <p><%= link_to 'お問い合わせ',inquiry_path,class: 'nav-link text-dark' %></p>
            <p>©chillshare</p>
          <% end %>
        </span>
      </nav>
    </footer>
  </body>
</html>
